       <div id="layoutSidenav">

	          <div id="layoutSidenav_content">
    
	   <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Shops</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="shops.html">Shops</a></li>
                            <li class="breadcrumb-item active">Add Shop</li>
                        </ol>
						<form action="/admin/add-shop" method="POST" enctype="multipart/form-data">
                        <div class="row">
							<div class="col-lg-12">
								<div class="add-new-shop">
									<div class="card card-static-2 mb-30">
										<div class="row no-gutters">
											<div class="col-lg-6 col-md-6">
												<div class="card-title-2">
													<h4>Add New Shop</h4>
												</div>
												<div class="card-body-table">
													<div class="add-shop-content pd-20">
														<div class="form-group">
															<label class="form-label"> Shop Name*</label>
															<input type="text" class="form-control" name="shopname" placeholder="Shop Name">
														</div>
														<div class="form-group">
															<label class="form-label">Location*</label>
															<select id="location" name="locations" class="form-control">
																<option selected>--Select Location--</option>
																<% for( var i=0;i<locations.length;i++) {%>
																	<option ><%=locations[i].locations%></option>
																	<%}%>
																</select>
														</div>
														<div class="form-group">
															<label class="form-label">Area*</label>
															<select id="location" name="areas" class="form-control">
																<option selected>--Select Area--</option>
																<% for( var i=0;i<areas.length;i++) {%>
																	<option ><%=areas[i].areas%></option>
																	<%}%>
																</select>
														</div>
														<div class="form-group">
															<label class="form-label">Category*</label>
															<select id="categtory" name="categorys" class="form-control">
																<option selected>--Select Category--</option>
																<% for( var i=0;i<categories.length;i++) {%>
																	<option ><%=categories[i].cname%></option>
																	<%}%>
																</select>
														</div>
														<div class="form-group">
															<label class="form-label">Delivery Charge*</label>
															<input class="form-control" placeholder="$0" name="deliverycharge">
														</div>
														<div class="form-group">
															<label class="form-label">Latitude*</label>
															<input class="form-control" placeholder="0" name="latitude">
														</div>
														<div class="form-group">
															<label class="form-label">Longitude*</label>
															<input class="form-control" name="longitude" placeholder="0">
														</div>
														<div class="form-group">
															<label class="form-label">Current Status*</label>
															<select id="status" name="currentstatus" class="form-control">
																<option selected>Yes</option>
																<option value="No">No</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Status*</label>
															<select id="status" name="status" class="form-control">
																<option selected>Active</option>
																<option value="Inactive">Inactive</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Address*</label>
															<div class="card card-editor">
																<div class="content-editor">
																	 <textarea class="text-control" name="address" placeholder="Enter Address"></textarea>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="form-label">Description*</label>
															<div class="card card-editor">
																<div class="content-editor">
																	 <textarea class="text-control" name="description" placeholder="Enter Description"></textarea>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="form-label">Shop Image*</label>
															<div class="input-group">
																<div class="custom-file">
																	<input type="file" name="image" class="custom-file-input" id="inputGroupFile04" required aria-describedby="inputGroupFileAddon04" accept="image/*" />
																	<label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
																</div>
															</div>
															<div class="add-cate-img-1">
																<img src="/images/shopadmin.svg" alt="">
															</div>
														</div>	
														<button class="save-btn hover-btn" type="submit">Add New Shop</button>
													</div> 
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="card-title-2">
													<h4>Add New Shop</h4>
												</div>
												<div class="card-body-table">
													<div class="add-shop-content pd-20">
														<div class="form-group">
															<label class="form-label">Opening Time*</label>
															<input type="time" id="default-picker" name="openingtime" class="form-control" placeholder="Select time">
														</div>
														<div class="form-group">
															<label class="form-label">Close Time*</label>
															<input type="time" id="default-picker" name="closingtime" class="form-control" placeholder="Select time">
														</div>
													</div>
												</div>
												
												<div class="card-title-2">
													<h4>Shop Owner</h4>
												</div>
												<div class="card-body-table">
													<div class="add-shop-content pd-20">
														<div class="form-group">
															<label class="form-label">Full Name*</label>
															<input class="form-control" type="text" placeholder="Enter Full Name" name="fullname">
														</div>
														<div class="form-group">
															<label class="form-label">Username*</label>
															<input class="form-control" name="username" type="text" placeholder="Enter Username">
														</div>
														<div class="form-group">
															<label class="form-label">Email Address*</label>
															<input class="form-control" type="email" name="email" placeholder="Enter Email Address">
														</div>
														<div class="form-group">
															<label class="form-label">Phone Number*</label>
															<input class="form-control" type="text" name="phone" placeholder="Enter Phone Number">
														</div>
														<div class="form-group">
															<label class="form-label">Owner Address*</label>
															<div class="card card-editor">
																<div class="content-editor">
																	 <textarea class="text-control" name="owenraddress" placeholder="Enter Address"></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
						</form>
                    </div>
                </main>
	          </div>
       </div>