<div id="layoutSidenav">
		<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid">
				<h2 class="mt-30 page-title">General Setting</h2>
				<ol class="breadcrumb mb-30">
					<li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
					<li class="breadcrumb-item active">General Setting</li>
				</ol>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="left-side-tabs">
							<div class="dashboard-left-links">
								<a href="/admin/general-setting" class="user-item"><i class="fas fa-cogs"></i>Site Setting</a>
								<a href="/admin/general-setting-logo" class="user-item"><i class="far fa-image"></i>Logo</a>
								<a href="/admin/general-setting-favicon" class="user-item active"><i class="far fa-image"></i>Favicon</a>
								<a href="/admin/general-setting-analytics" class="user-item"><i class="fas fa-chart-line"></i>Google Analytics</a>
								<a href="/admin/general-setting-contact" class="user-item"><i class="fas fa-briefcase"></i>Contact Setting</a>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-6">
						<div class="card card-static-2 mb-30">
							<div class="card-title-2">
								<h4>Favicon Setting</h4> 
							</div>
							<div class="card-body-table">
								<div class="news-content-right pd-20">
									<div class="row">
										<div class="col-lg-12">
											<div class="site-logo-1">
												<img src="/uploads/<%= setting.favicon %>" alt="">
											</div>	
										<form action="/admin/general-setting-favicon" method="post" enctype="multipart/form-data">
											<div class="img-add">													
												<input type="file" name="favicon" accept="image/*" id="file">
												<label for="file">Upload Image</label>
											</div>
											<button class="save-btn hover-btn" type="submit">Save Changes</button>
										</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>