<div class="bg-sign">
    
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                
                <div class="container">
                    <%- include('../partials/messages.ejs')  %>
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header card-sign-header">
                                    <h3 class="text-center font-weight-light my-4">Login</h3>
                                </div>
                                <div class="card-body">
                                    <form action="/admin/" method="POST">
                                        <div class="form-group">
                                            <label class="form-label" for="inputEmailAddress">Username*</label>
                                            <input class="form-control py-3" id="inputEmailAddress" type="text" name="username" placeholder="Enter Username">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="inputPassword">Password*</label>
                                            <input class="form-control py-3" id="inputPassword" type="password" name="password" placeholder="Enter password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button class="btn btn-sign hover-btn" type="submit">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            
        </div>
    </div>
     
</div>