             <div id="layoutSidenav">

	          <div id="layoutSidenav_content">
    
		    <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Payment Setting</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Payment Setting</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="left-side-tabs">
									<div class="dashboard-left-links">
										<a href="payment_setting.html" class="user-item"><i class="fab fa-paypal"></i>Paypal</a>
										<a href="payment_setting_stripe.html" class="user-item active"><i class="fab fa-stripe"></i>Stripe</a>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Stripe Setting</h4> 
									</div>
									<div class="card-body-table">
										<div class="news-content-right pd-20">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-group">
														<label class="form-label">Active*</label>
														<select id="status" name="status" class="form-control">
															<option selected>Yes</option>
															<option value="1">No</option>
														</select>
													</div>
													<div class="form-group">
														<label class="form-label">Secret Key*</label>
														<input type="text" class="form-control" value="sk_test_IMxurosThe0GAMBOdYwwZdxD" placeholder="Enter Secret Key">
													</div>
													<div class="form-group">
														<label class="form-label">Publishable Key*</label>
														<input type="text" class="form-control" value="pk_test_1sYUThRwbH6x5kn1azVd0Gam" placeholder="Enter Publishable Key">
													</div>
													<button class="save-btn hover-btn" type="submit">Save Changes</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
	          </div>
             </div>