<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/html-items/gambo_admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:05:42 GMT -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description-gambolthemes" content="">
	<meta name="author-gambolthemes" content="">
	<title><%=settings.siteName%> Admin</title>
	<link rel="icon" type="image/png" href="/uploads/<%= settings.favicon %>">
	<link href="/css/cssadmin/styles.css" rel="stylesheet">
	<link href="/css/cssadmin/admin-style.css" rel="stylesheet">

	<!-- Vendor Stylesheets -->
	<link href="/vendoradmin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendoradmin/fontawesome-free/css/all.min.css" rel="stylesheet">

	<!-- froala Editor Stylesheets -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/froala_editor.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/froala_style.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/code_view.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/colors.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/emoticons.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/image_manager.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/image.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/line_breaker.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/table.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/char_counter.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/video.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/fullscreen.css">
	<link rel="stylesheet" href="/vendoradmin/froala_editor_3.1.1/css/plugins/file.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
	

</head>

<body class="sb-nav-fixed">

	
	<%- include ('partials/headeradmin') %>   
	
	<%-body%>
	

	<script src="/js/jsadmin/jquery-3.4.1.min.js"></script>
	<script src="/vendoradmin/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendoradmin/chart/highcharts.js"></script>
	<script src="/vendoradmin/chart/exporting.js"></script>
	<script src="/vendoradmin/chart/export-data.js"></script>
	<script src="/vendoradmin/chart/accessibility.js"></script>
	<script src="/js/jsadmin/scripts.js"></script>
	<script src="/js/jsadmin/chart.js"></script>
	<script src="/js/jsadmin/tableHTMLExport.js"></script>

	<!-- froala Editor Javascripts -->
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/froala_editor.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/align.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/code_beautifier.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/code_view.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/colors.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/emoticons.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/draggable.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/font_size.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/font_family.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/image.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/file.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/image_manager.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/line_breaker.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/link.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/lists.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/paragraph_format.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/paragraph_style.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/video.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/table.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/url.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/entities.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/char_counter.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/inline_style.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/save.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/fullscreen.min.js"></script>
		<script type="text/javascript" src="/vendoradmin/froala_editor_3.1.1/js/plugins/quote.min.js"></script>
		<script>
			(function () {
			  new FroalaEditor("#edit", {
				zIndex: 10
			  })
			})()
		</script>
		

</body>

<!-- Mirrored from gambolthemes.net/html-items/gambo_admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:06:09 GMT -->

</html>