<!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item"><a href="our_blog.html">Our Blog</a></li>
								<li class="breadcrumb-item active" aria-current="page">Blog Detail View</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="blog-dt-vw banner-blog banner.visible parallax">
			<div class="blog-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<h1><%=list.title%></h1>
							<div class="extra-info">
								<span class="entry-date"><%= list.createdAt.toString().substring(0,15) %></span>
								<div class="single-post-cat">
									<a href="#"><%=list.category%></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blog-single-dts-text">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="bb-des12">
							<div class="blog-des-dt142">
								<p><%=list.content%></p>
								<!-- <ul class="joby-list-dt mt-21">
									<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
									<li><p>Sed ut dui et tellus euismod accumsan.</p></li>
									<li><p>Aenean sed neque vitae nisi commodo ultricies sed ut sapien.</p></li>
									<li><p>Sed euismod urna vel lacus porta imperdiet.</p></li>
									<li><p>Proin id neque condimentum, eleifend ipsum sed, luctus nisi.</p></li>
									<li><p>Ut eu sem eget dolor bibendum tempor.</p></li>
									<li><p>Sed scelerisque purus id nunc semper, in elementum quam fringilla.</p></li>
									<li><p>Donec pulvinar enim vel convallis egestas.</p></li>
								</ul>
								<p class="mt-21">Sed imperdiet erat eget nunc cursus dictum. Maecenas urna nisl, lacinia sit amet convallis quis, mattis eu ligula. Quisque ultricies lacinia volutpat. Integer malesuada vehicula blandit. Maecenas commodo scelerisque maximus. Nam et metus cursus, congue mi a, iaculis arcu. Etiam quis porta ipsum, nec sodales dui. Fusce gravida odio sed leo luctus, sit amet sollicitudin dui laoreet. Nunc vestibulum risus in varius venenatis. Quisque mattis rhoncus erat et feugiat. Aenean vitae tristique quam. Quisque feugiat risus lorem, eget viverra eros auctor a. Sed nec lorem vel risus ornare maximus. Maecenas id sodales massa, id venenatis odio. Integer aliquet dolor vel lectus mollis condimentum.</p>
								<p class="mt-21">Proin lacinia risus vel lectus tempor dapibus vitae quis tellus. Donec ligula mi, suscipit in pulvinar at, commodo eu ipsum. Pellentesque sed neque ut ante feugiat semper. Donec consectetur id odio tempus blandit. Nullam sit amet nunc tristique magna venenatis fermentum ac vel felis. Nam eget elit mattis dui fringilla vehicula nec eu quam. Nam convallis risus ac mi finibus, a venenatis enim congue.</p> -->
							</div>
							<div class="date-icons-group vew1458">
								<div class="blog-time sz-14"></div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share ss18"><i class="uil uil-thumbs-up"></i><span>5</span></a>
									</li>
									<li>
										<a href="#" class="like-share ss18"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="all-comment">
								<h2>Comments 2</h2>
								<div class="cmmnt_item">
									<div class="cmmnt_usr_dt">
										<img src="images/avatar/img-1.jpg" alt="">
										<div class="rv1458">
											<h4 class="tutor_name1">John Doe</h4>
											<span class="time_145">2 hour ago</span>
										</div>
									</div>
									<p class="rvds10">Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.</p>
								</div>
								<div class="cmmnt_item">
									<div class="cmmnt_usr_dt">
										<img src="images/avatar/img-8.jpg" alt="">
										<div class="rv1458">
											<h4 class="tutor_name1">Rock Smith</h4>
											<span class="time_145">3 hour ago</span>
										</div>
									</div>
									<p class="rvds10">Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.</p>
								</div>
							</div>
							<div class="leave-comment">
								<h2>Leave a Reply</h2>
								<span>Your email address and phone number will not be published. Required fields are marked *</span>
								<form>	
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group mt-1">
												<label class="control-label">Full Name*</label>
												<div class="ui search focus">
													<div class="ui left icon input swdh11 swdh19">
														<input class="prompt srch_explore" type="text" name="fullname" value="" id="full[name]" required="" maxlength="64" placeholder="Your Full Name">															
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group mt-1">
												<label class="control-label">Email Address*</label>
												<div class="ui search focus">
													<div class="ui left icon input swdh11 swdh19">
														<input class="prompt srch_explore" type="email" name="emailaddress" value="" id="email[address]" required="" placeholder="Your Email Address">															
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group mt-1">
												<label class="control-label">Phone Number*</label>
												<div class="ui search focus">
													<div class="ui left icon input swdh11 swdh19">
														<input class="prompt srch_explore" type="text" name="phonenumber" value="" id="phone[number]" required="" placeholder="Your Phone Number">															
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group mt-1">	
												<div class="field">
													<label class="control-label">Add Comment*</label>
													<textarea rows="2" class="form-control" placeholder="Add your comment"></textarea>
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<button class="post-btn hover-btn" type="submit">Post Comment</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->