<!-- Body Start -->
	<div class="wrapper">
		<div class="default-dt">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="default_tabs">
							<nav>
								<div class="nav nav-tabs tab_default  justify-content-center">
									<a class="nav-item nav-link" href="about_us.html">About</a>
									<a class="nav-item nav-link" href="our_blog.html">Blog</a>
									<a class="nav-item nav-link active" href="career.html">Careers</a>
									<a class="nav-item nav-link" href="press.html">Press</a>
								</div>
							</nav>						
						</div>
						<div class="title129">	
							<h2>Join Inida's Largest Online Grocery Supermarket</h2>
							<a href="#" class="position-link-btn hover-btn">Browse Positions</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="life-gambo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="default-title">
							<h2>Life of Gambo</h2>
							<p>Because great teams are built with passion, dedication and zeal for excellence!</p>
							<img src="images/line.svg" alt="">
						</div>
						<div class="dd-content">
							<div class="owl-carousel life-slider owl-theme">
								<div class="item">
									<div class="offer-item">		
										<div class="offer-item-img">
											<img src="../../../www.gambolthemes.net/html-items/gambo_supermarket_demo/images/career/img-1.html" alt="">
										</div>
									</div>
								</div>
								<div class="item">
									<div class="offer-item">		
										<div class="offer-item-img">
											<img src="../../../www.gambolthemes.net/html-items/gambo_supermarket_demo/images/career/img-2.html" alt="">
										</div>
									</div>
								</div>
								<div class="item">
									<div class="offer-item">		
										<div class="offer-item-img">
											<img src="../../../www.gambolthemes.net/html-items/gambo_supermarket_demo/images/career/img-3.html" alt="">
										</div>
									</div>
								</div>
								<div class="item">
									<div class="offer-item">		
										<div class="offer-item-img">
											<img src="../../../www.gambolthemes.net/html-items/gambo_supermarket_demo/images/career/img-4.html" alt="">
										</div>
									</div>
								</div>
								<div class="item">
									<div class="offer-item">		
										<div class="offer-item-img">
											<img src="../../../www.gambolthemes.net/html-items/gambo_supermarket_demo/images/career/img-5.html" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="life-gambo white-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="default-title">
							<h2>The benefits of working at Gambo</h2>
							<p>We want you to feel like home when you're working at Gambo and for that we've curated a great set of benefits for you.</p>
							<img src="images/line.svg" alt="">
						</div>
					</div>
				</div>
				<div class="dd-content mt-50">
					<div class="row">
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-trophy"></i>
								</div>
								<a href="#" class="benefit-link">Performance and Rewards</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-chart-line"></i>
								</div>
								<a href="#" class="benefit-link">Internal Growth Opportunity</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-hand-holding-heart"></i>
								</div>
								<a href="#" class="benefit-link">Employee Well Being</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-medkit"></i>
								</div>
								<a href="#" class="benefit-link">Insurance Coverage</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-suitcase-rolling"></i>
								</div>
								<a href="#" class="benefit-link">Domestic Travel and Relocation</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-donate"></i>
								</div>
								<a href="#" class="benefit-link">Compensation Benefits</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-book-reader"></i>
								</div>
								<a href="#" class="benefit-link">Learning and Development</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-coins"></i>
								</div>
								<a href="#" class="benefit-link">Stock Options</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="benefits-step">
								<div class="benefit-icon">
									<i class="fas fa-umbrella-beach"></i>
								</div>
								<a href="#" class="benefit-link">Time Off</a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="know-more-link">
								<a href="#" class="kmore-btn hover-btn">Know More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="life-gambo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="default-title">
							<h2>Testimonials</h2>
							<p>Our Team Says about us!</p>
							<img src="images/line.svg" alt="">
						</div>
						<div class="dd-content">
							<div class="owl-carousel testimonial-slider owl-theme">
								<div class="item">
									<div class="testi-item">		
										<div class="testi-text">
											<div class="qoute-icon"><i class="fas fa-quote-left"></i></div>
											<div class="testo-text">Sed ut mattis enim. Nunc id semper eros. Donec luctus venenatis quam at tincidunt. In tristique nibh eget porta cursus. Integer volutpat tincidunt nibh et mattis.</div>
										</div>
										<div class="team-dt">
											<div class="team-avatar">
												<img src="images/avatar/img-1.jpg" alt="">
											</div>
											<div class="team-emp-dt">
												<h4>Joginder Singh</h4>
												<p>Senior UX Designer, Product</p>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testi-item">		
										<div class="testi-text">
											<div class="qoute-icon"><i class="fas fa-quote-left"></i></div>
											<div class="testo-text">Sed ut mattis enim. Nunc id semper eros. Donec luctus venenatis quam at tincidunt. In tristique nibh eget porta cursus. Integer volutpat tincidunt nibh et mattis.</div>
										</div>
										<div class="team-dt">
											<div class="team-avatar">
												<img src="images/avatar/img-2.jpg" alt="">
											</div>
											<div class="team-emp-dt">
												<h4>Zoena Singh</h4>
												<p>Senior Manager - Training, Corporate</p>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testi-item">		
										<div class="testi-text">
											<div class="qoute-icon"><i class="fas fa-quote-left"></i></div>
											<div class="testo-text">Sed ut mattis enim. Nunc id semper eros. Donec luctus venenatis quam at tincidunt. In tristique nibh eget porta cursus. Integer volutpat tincidunt nibh et mattis.</div>
										</div>
										<div class="team-dt">
											<div class="team-avatar">
												<img src="images/avatar/img-3.jpg" alt="">
											</div>
											<div class="team-emp-dt">
												<h4>Rock William</h4>
												<p>Senior Manager - Finance & Accounts, Corporate</p>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testi-item">		
										<div class="testi-text">
											<div class="qoute-icon"><i class="fas fa-quote-left"></i></div>
											<div class="testo-text">Sed ut mattis enim. Nunc id semper eros. Donec luctus venenatis quam at tincidunt. In tristique nibh eget porta cursus. Integer volutpat tincidunt nibh et mattis.</div>
										</div>
										<div class="team-dt">
											<div class="team-avatar">
												<img src="images/avatar/img-4.jpg" alt="">
											</div>
											<div class="team-emp-dt">
												<h4>Ridhima William</h4>
												<p>Head Customer Support</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="jobs-gambo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="default-title">
							<h2>Work With Us</h2>
							<p>Have the appetite to discover, learn and build with the team.</p>
							<img src="images/line.svg" alt="">
						</div>
					</div>
					<div class="col-md-4">
						<div class="pdpt-bg">
							<div class="pd-20">
								<div class="job-title-group">
									<h4>Location</h4>
									<a href="#" class="flter-clear-link">Clear Filter</a>
								</div>
								<div class="job-by-loc">
									<div class="form-group mt-1">																	
										<select class="ui fluid search dropdown form-dropdown" name="job[location]">
											<option value="">All Location</option>
											<option value="1">Gurgaon, India</option>
											<option value="2">Ludhiana, India</option>
											<option value="3">Delhi, India</option>
											<option value="4">Bangluru, India</option>
											<option value="5">Hyderabad, India</option>
											<option value="6">Mumbai, India</option>
											<option value="7">Kolkata, India</option>
											<option value="8">Chandigrah, India</option>
										</select>	
									</div>
								</div>
								<div class="all-departments">
									<h4>Departments</h4>
									<div class="all-chckboxes">
										<div class="custom-control custom-checkbox pb2">
											<input type="checkbox" class="custom-control-input" id="job_1">
											<label class="custom-control-label" for="job_1">Development</label>
										</div>
										<div class="custom-control custom-checkbox pb2">
											<input type="checkbox" class="custom-control-input" id="job_2">
											<label class="custom-control-label" for="job_2">Tech and Engineering</label>
										</div>
										<div class="custom-control custom-checkbox pb2">
											<input type="checkbox" class="custom-control-input" id="job_3">
											<label class="custom-control-label" for="job_3">Sales and Marketing</label>
										</div>
										<div class="custom-control custom-checkbox pb2">
											<input type="checkbox" class="custom-control-input" id="job_4">
											<label class="custom-control-label" for="job_4">UI/UX Designer</label>
										</div>
										<div class="custom-control custom-checkbox pb2">
											<input type="checkbox" class="custom-control-input" id="job_5">
											<label class="custom-control-label" for="job_5">Senior Manager</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<a href="#" class="job-bg1">
							<div class="job-item">
								<h4>Software Development Engineer</h4>
								<span><i class="uil uil-map-marker-alt"></i>Ludhiana, India</span>
							</div>
							<i class="uil uil-angle-right-b arrow-icon"></i>
						</a>
						<a href="#" class="job-bg1">
							<div class="job-item">
								<h4>Sales Associate</h4>
								<span><i class="uil uil-map-marker-alt"></i>Chandigrah, India</span>
							</div>
							<i class="uil uil-angle-right-b arrow-icon"></i>
						</a>
						<a href="#" class="job-bg1">
							<div class="job-item">
								<h4>Area Sales Manager</h4>
								<span><i class="uil uil-map-marker-alt"></i>Delhi, India</span>
							</div>
							<i class="uil uil-angle-right-b arrow-icon"></i>
						</a>
						<a href="#" class="job-bg1">
							<div class="job-item">
								<h4>UI/UX Designer</h4>
								<span><i class="uil uil-map-marker-alt"></i>Bangluru, India</span>
							</div>
							<i class="uil uil-angle-right-b arrow-icon"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->